body {
    margin: 0;
}

h1 {
    font-size: 42pt;
    font-family: sans-serif;
    text-align: center;
}

p {
    color: green;
    font-size: 24pt;
}

a {
    color:red;
}

a:hover {
	background: blue;
}

#important_paragraph:hover {
	background: yellow;
	font-size: 40pt;
}

.less_important_paragraphs:hover {
	color: blue;
}

#hidden_div {
	display: none;
}

#span_cover:hover + #hidden_div {
    display: block;
}


